{% extends 'base.html' %}

{% block title %} Homepage of Frontend {% endblock %}

<!-- These lines extend from a base HTML template and set the title of the page -->

{% block content %}
<!--This line opens a block where the main content of the page will be placed -->

<!DOCTYPE html> 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage of Frontend</title>
    <script src="https://cdn.jsdelivr.net/nmp/chart.js"></script>
    
<!-- This section of the HTML document includes the necessary meta tags for character set and viewport settings, set the title of the page and import Chart.js library for creating charts -->
    
    <style>
        #chart-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1200;
            /* Adjust width as needed */
            height: 1200;
            /* Adjust height as needed */
        }
    </style>
</head>

<body> 

<!--This style block sets the styling for the chart container, ensuring it's centered and of a fixed size. -->

    <div class="container mt-5 text-center">
        <h1>Public VS Private</h1>
        <div.id="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

<!--This div contains the title of the chart and a container for the chart canvas.  -->

    <script>
        // Access the data from the backend 
        var dataFromBackend = JSON.parse('{{ risultato|safe }}');

        // Define  public and private universities 
        var publicUniversities = ['Milano Politecnico', 'Milano', 'Milano Bicocca'];
        var privateUniversities = Object.keys(dataFromBackend).filter (function(university) {
    
            return !publicUniversities.includes(university);
        });

        // Initialize data variables 
        var publicData = { 
            'M': 0, 
            'F': 0
        };

        var privateData = {
            'M': 0,
            'F': 0
        };

        // Calculate male and female data for public universities 
        publicUniversities.forEach(function (university) {
            publicData['M'] += dataFromBackend[university]['M'];
            publicData['F'] += dataFromBackend[university]['F'];
        });

        // Calculate male and female data fot private universities 
        privateUniversities.forEach(function (university) {
            privateData['M'] += dataFromBackend[university]['M'];
            publicData['F'] += dataFromBackend[university]['F'];
        });

        // Create a pie chart with adjusted size 
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, { 
            type: 'pie',
            data: { 
                labels: ['Public Male', 'Public Female', 'Private Male', 'Private Female'],
                datasets:  [{
                    data: [
                        publicData['M'],
                        publicData['F'],
                        privateData['M'],
                        privateData['F']
                    ], 
                    backgroundColour: [ 
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(255, 99, 132, 0.5)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)'
                    ], 
                    borderWidht: 1
                }]
            }, 
            options: {
                responsive: true,
                mantainAspectRatio: false,
                aspectRatio: 0.5 //Set the aspect ratio to control the size 
            }
        });
    </script>
<!--This script block creates a pie chart using Chart.js library based on the calculated data and customizes its appearance.-->

    <div class= "text-center mt-3">
        <a href='/' class= "btn btn-lg btn-primary"> Back</a>
    </div>

</body>

</html>

<!--This div contains a link to navigate back to the homepage. It closes the body and HTML tags.-->

{%endblock%}



